form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.contact-form-title {
    font-size: 20px;
    padding-bottom: 20px;
    color: rgba(200,200,200,0.9);
}

.form-group {
    padding: 10px 0;
}

.block-text-container {
    position: relative;
}

.form-text-block {
    background-color: rgb(20, 20, 20);
    width: 100%;
    padding: .5rem 3.5rem;
    color: rgba(200,200,200,0.9);
}

.form-text-block.message {
    padding: .5rem 3.65rem;
    resize: none;
}

.input-icon, .input-icon-message {
    position: absolute;
    left: 15px;
    top: 5px;
    filter: drop-shadow(0 0 3px #C8C8C8E5);
}

.submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn.btn-primary {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    height: 2rem;
    line-height: 2rem;
    padding: 0 3rem;
    background-image:linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
}
.btn.btn-primary:hover:enabled {
    box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
    background-size: 100% 100%;
    transform: translateY(-0.15em);
}
