.image-grid {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 coloane */
    grid-gap: 10px;
    overflow-y: auto; /* Scroll pe verticală dacă sunt mai multe imagini */
    max-height: 100vh; /* Asigură că vor fi afișate minim 5 rânduri pe ecran */
    background-color: black;
}
.image-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    cursor: pointer; /* Mâna apare pe hover pentru indicarea click-ului */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animația pentru efectul de hover */
}
.image-item img:hover {
    transform: scale(1.05); /* Mărește puțin imaginea la hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adaugă o umbră */
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Apare deasupra tuturor */
    cursor: pointer;
}
.overlay-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 60%;
}

.overlay-content img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Asigură că imaginea încape complet în container */
}
.overlay-content .image-display{
    position: relative;
}
.overlay-content .image-counter{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}
.nav-arrow {
    position: absolute;
    color: white;
    font-size: 70px;
    padding: 100% 40px;
    cursor: pointer;
    z-index: 1001;
    user-select: none;
    transition: transform 0.5s ease;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1.3); }
}

.nav-arrow:hover {
    transform: scale(1.4); /* Mărește puțin imaginea la hover */
    /*animation: pulse 0.5s infinite; !* Animația pulsează continuu *!*/
}

/*DE AICI TREBUIE SA IAU IN CONSIDERARE DIMENSINUNEA ECRANELOR*/
@media (max-width: 768px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .image-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}