#contact {
    background-color: rgba(0, 0, 0, 0.85);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}

.contact-container {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 80%;
}

.contact-info {
    flex: 1;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form {
    flex: 1;
    order: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1024px) {
    .contact-container {
        display: flex;
        flex-direction: row-reverse;
    }
}

/* Responsivitate pentru ecrane mici (telefon) */
@media (max-width: 768px) {
    #contact{
        height: 100%;
    }
    .contact-form{
        padding-top: 2rem;
    }
    .contact-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
}

/*!* Responsivitate pentru ecrane foarte mici (telefoane mici) *!*/
/*@media (max-width: 480px) {*/
/*    #contact{*/
/*        height: 100%;*/
/*        padding-top: 2rem;*/

/*    }*/
/*    .contact-container {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*    }*/
/*}*/

